body{
    margin: 0;
    font-family: sans-serif
}

#grid{
    display: grid;
    grid-template-rows: repeat(5, minmax(100px, auto));;
    grid-template-columns: repeat(1, 1fr);
    grid-template-areas: 
    "header"
    "main"
    "contato"
    "feed"
    "fotter";}

    header{
        background-image: url(img/banner.png);
        background-position: center;
        background-size: cover;
        border-top: 5px solid #2dcc70;
        color: white;
        display: flex;
        grid-area:header;
        height: 40vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 40vw;

    }

    header h3{ font-family: "pacifico";
        font-size: 1.5rem;
        font-weight: 100;
      
    }

    #imagens-header div{

        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 100%;
        padding: 10px;
        transition: 1s;
        
    }

    #imagnes-header{
     display: flex;
     justify-content: space-around;
     width: 50%;

    }

    #imagem-header div:hover{
        background-color: #2dcc70
    }

header #mao {
align-self: flex-end;
display: none;
margin-left: 20px;
height: 80%;
}

header #mao img {
    height: 100%;
}

    main{
        grid-area:main;
    }

    .contato{
        grid-area:contato;
    }

    .feed{
        grid-area:feed;
    }

    footer{
        grid-area:footer
    }
 